In [3]:
from src import gh25

In [4]:
gh25_gdf = gh25.from_timeperiod_variable(2020, 1, "2m_temperature")

No data for year=2020, quarter=1, variable='2m_temperature', building GeoDataframe ...
Found data for year=2020, quarter=1, loading Dataframe ...

In [5]:
gh25_gdf

,Unnamed: 0,STAID,SOUID,DATE,TX,Q_TX,TX_kelvin,LON_decimal,LAT_decimal,t2m,geometry
0,0,2,36438,2020-01-01,54,0,278.55,15.616667,60.616667,276.262390,POINT (15.61667 60.61667)
1,1,2,36438,2020-01-02,63,0,279.45,15.616667,60.616667,277.535095,POINT (15.61667 60.61667)
2,2,2,36438,2020-01-03,68,0,279.95,15.616667,60.616667,279.249329,POINT (15.61667 60.61667)
3,3,2,36438,2020-01-04,27,0,275.85,15.616667,60.616667,274.458130,POINT (15.61667 60.61667)
4,4,2,36438,2020-01-05,9,0,274.05,15.616667,60.616667,275.092865,POINT (15.61667 60.61667)
...,...,...,...,...,...,...,...,...,...,...,...
466833,466833,28077,98794,2020-03-27,86,0,281.75,10.781667,59.660556,281.844513,POINT (10.78167 59.66056)
466834,466834,28077,98794,2020-03-28,83,0,281.45,10.781667,59.660556,279.638672,POINT (10.78167 59.66056)
466835,466835,28077,98794,2020-03-29,65,0,279.65,10.781667,59.660556,278.766113,POINT (10.78167 59.66056)
466836,466836,28077,98794,2020-03-30,58,0,278.95,10.781667,59.660556,278.251160,POINT (10.78167 59.66056)
466837,466837,28077,98794,2020-03-31,132,0,286.35,10.781667,59.660556,283.209106,POINT (10.78167 59.66056)